mixin numpad__buttons(items)
    //На вход подаем список из {class: значение date:значение title:значение}
    each item in items
        button(class= item.class id= item.date value= item.title)= item.title
