doctype html
html
    head
        meta(charset='utf-8')
        title MJSC
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
    body
        h1 Mini JS Calculator
        div(id="breadboard")
            div(id="result")
                h3(id="calcDisplay") 0
            div(id="numpad")
                //- Создаем кнопочки
                include /kit/num__pad/buttons_numpad.pug
                -
                    var numpad__items = [
                        {class:"numbers", title:"C", date:"clear"},
                        {class:"numbers", title:"00", date:"double_zero"},
                        {class:"arithmetic", title:"/", date:"division"},
                        {class:"numbers", title:"7", date:"seven"},
                        {class:"numbers", title:"8", date:"eight"},
                        {class:"numbers", title:"9", date:"nine"},
                        {class:"arithmetic", title:"*", date:"multiplication"},
                        {class:"numbers", title:"4", date:"four"},
                        {class:"numbers", title:"5", date:"five"},
                        {class:"numbers", title:"6", date:"six"},
                        {class:"arithmetic", title:"-", date:"subtraction"},
                        {class:"numbers", title:"1", date:"one"},
                        {class:"numbers", title:"2", date:"two"},
                        {class:"numbers", title:"3", date:"thri"},
                        {class:"arithmetic", title:"+", date:"addition"},
                        {class:"numbers", title:"0", date:"zero"},
                        {class:"point", title:".", date:"point"},
                        {class:"answer", title:"=", date:"answer"}
                    ]
                +numpad__buttons(numpad__items)
        footer
            script(src="https://yastatic.net/jquery/3.3.1/jquery.min.js")