
doctype html
html
    head
        meta(charset='utf-8')
        title MJSC
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
    body
        h1 Mini JS Calculator
        div(id="breadboard")
            div(id="result")
                h3 0

            //- Uncomment if you want use js_like_mixin. WARNING!!! comment pug_mixin   
            include /kit/num__pad/numpad.pug
            -var numpad__items=["C", "clear", "00", "double_zero", "%", "division", "7", "seven", "8", "eight", "9","nine", "*", "umnozhit", "4","four", "5", "five", "6", "six", "-","minus", "1","one","2","two", "3","thri","+","plus", "0","zero", ".","point", "=","ravno"]
            +numpad(numpad__items)
            //

            // Pug_mixin -- comment if you unccoment js_like_mixin
            include /kit/num__pad/pug__numpad.pug
            -var numpad__items=[{title:"C", date:"clear"}, {title:"00", date:"double_zero"}, {title:"%", date:"division"}, {title:"7", date:"seven"}, {title:"8", date:"eight"}, {title:"9", date:"nine"}, {title:"*", date:"umnozhit"}, {title:"4", date:"four"}, {title:"5", date:"five"}, {title:"6", date:"six"}, {title:"-", date:"minus"}, {title:"1", date:"one"}, {title:"2", date:"two"}, {title:"3", date:"thri"}, {title:"+", date:"plus"}, {title:"0", date:"zero"}, {title:".", date:"point"}, {title:"=", date:"ravno"}]
            +numpad(numpad__items)