
doctype html
html
    head
        meta(charset='utf-8')
        title MJSC
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
    body
        h1 Mini JS Calculator
        div(id="breadboard")
            div(id="result")
                h3 0
            include /kit/num__pad/numpad.pug
            -var numpad__items=["C", "clear", "00", "double_zero", "%", "division", "7", "seven", "8", "eight", "9","nine", "*", "umnozhit", "4","four", "5", "five", "6", "six", "-","minus", "1","one","2","two", "3","thri","+","plus", "0","zero", ".","point", "=","ravno"]
            +numpad(numpad__items)